* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid-container {
  display: grid; 
  width: 100%;
  grid-template-columns: repeat(3, 1fr); 
  padding: 5%;
  
}

.description, .tittle, .icon {
  margin-bottom: 5%;
  
}

.grid-item {
  padding: 20%;
  color: white;
}

.flex-btn{
  width: 80%;
  padding: 3% 20%;
  background-color: hsl(184, 100%, 22%);
  display: inline-block;
  border-radius: 15px;
  margin: 10%;
  text-align: center;
  color: white;
  text-decoration: none;
}